p {
  color:rgb(212, 212, 212);
}

body {
  background-image: url('../img/bg.jpg');
}

figure{
  background-color: aqua;
}

figure img{
  opacity: 1.0;
  transition: opacity 200ms;
}

figure:hover img{
  opacity: 0.3;
}

figure figcaption{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

figure h2{
  position: absolute;
  bottom: 1em;
  left: 1em;
  opacity: 0;
}

figure p{
  position: absolute;
  bottom: 0em;
  left: 1em;
  opacity: 0;
}

figure:hover h2, figure:hover p{
  opacity: 1;
  transition: opacity 500ms;
}

.row figure {
    position: relative;
    max-width: 350px;
    background-color:rgb(81, 81, 81);
    text-align: center;
    float: left;
    margin: 20px;
    border-radius: 15px;
  }

.row img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.row .subtitle {
  color: rgb(212, 212, 212);
}

.header .container .row div {
  text-align: center;
  background-color:rgb(81, 81, 81);
  margin: 20px;
  border-radius: 20px;
}

a {
  color: rgb(212, 212, 212);
  font-weight: 300;
}
